#!/usr/bin/make -f

DESTDIR = $(CURDIR)/debian/pulse-agent-installer

VERSION_XMPP_AGENT=2.0.0
VERSION_AGENT_PLUGINS=1.11
VERSION_KIOSK_INTERFACE=0.2
FILETREE_VERSION=0.1

build:
	mkdir -p $(DESTDIR)/tmp

	GIT_SSL_NO_VERIFY=true git clone https://github.com/pulse-project/pulse-xmpp-agent.git -b hotfixes
	mv pulse-xmpp-agent pulse-xmpp-agent-${VERSION_XMPP_AGENT}
	tar czvf pulse-xmpp-agent-${VERSION_XMPP_AGENT}.tar.gz pulse-xmpp-agent-${VERSION_XMPP_AGENT}
	rm -fr pulse-xmpp-agent/
	mkdir -p var/lib/pulse2/clients
	mv  $(CURDIR)/pulse-xmpp-agent-${VERSION_XMPP_AGENT}.tar.gz var/lib/pulse2/clients
	GIT_SSL_NO_VERIFY=true git clone https://github.com/pulse-project/pulse-agent-plugins.git -b hotfixes
	mv pulse-agent-plugins pulse-agent-plugins-${VERSION_AGENT_PLUGINS}
	tar czvf pulse-agent-plugins-${VERSION_AGENT_PLUGINS}.tar.gz pulse-agent-plugins-${VERSION_AGENT_PLUGINS}
	mv pulse-agent-plugins-${VERSION_AGENT_PLUGINS}.tar.gz var/lib/pulse2/clients
	#GIT_SSL_NO_VERIFY=true git clone https://github.com/pulse-project/kiosk-interface.git
	#mv kiosk-interface kiosk-interface-${VERSION_KIOSK_INTERFACE}
	#tar czvf kiosk-interface-${VERSION_KIOSK_INTERFACE}.tar.gz kiosk-interface-${VERSION_KIOSK_INTERFACE}
	#mv kiosk-interface-${VERSION_KIOSK_INTERFACE}.tar.gz var/lib/pulse2/clients
	tar xzvf var/lib/pulse2/clients/pulse-xmpp-agent-${VERSION_XMPP_AGENT}.tar.gz -C $(DESTDIR)/tmp
	mkdir -p var/lib/pulse2/xmpp_baseremoteagent
	cp -frv $(DESTDIR)/tmp/pulse-xmpp-agent-${VERSION_XMPP_AGENT}/pulse_xmpp_agent/* var/lib/pulse2/xmpp_baseremoteagent/
	rm -fv var/lib/pulse2/xmpp_baseremoteagent/managedbkiosk.py
	mkdir -p etc/mmc/plugins/
	mkdir -p var/lib/pulse2/clients/config/
	cp $(DESTDIR)/tmp/pulse-xmpp-agent-${VERSION_XMPP_AGENT}/pulse_xmpp_agent/config/agentconf.ini.in var/lib/pulse2/clients/config/
	cp $(DESTDIR)/tmp/pulse-xmpp-agent-${VERSION_XMPP_AGENT}/pulse_xmpp_agent/config/manage_scheduler.ini var/lib/pulse2/clients/config/
	cp scripts_installer/generate-pulse-agent.sh var/lib/pulse2/clients
	cp scripts_installer/generate-agent-package var/lib/pulse2/clients
	cp scripts_installer/generate-agent-deps-package var/lib/pulse2/clients
	cp scripts_installer/HEADER.html var/lib/pulse2/clients
	cp scripts_installer/style.css var/lib/pulse2/clients
	mkdir -p var/lib/pulse2/clients/win
	cp scripts_installer/win/generate-pulse-agent-win.sh var/lib/pulse2/clients/win
	cp scripts_installer/win/agent-installer.nsi.in var/lib/pulse2/clients/win
	cp scripts_installer/win/pulse-agent-task.xml var/lib/pulse2/clients/win
	cp scripts_installer/win/pulse-filetree-generator.exe var/lib/pulse2/clients/win
	#cp scripts_installer/generate-kiosk-package var/lib/pulse2/clients/win
	mkdir -p var/lib/pulse2/clients/lin
	cp -r scripts_installer/lin/* var/lib/pulse2/clients/lin
	mkdir -p var/lib/pulse2/clients/mac
	cp scripts_installer/mac/generate-pulse-agent-mac.sh var/lib/pulse2/clients/mac
	cp scripts_installer/mac/Info.plist.in var/lib/pulse2/clients/mac
	cp scripts_installer/mac/postflight.in var/lib/pulse2/clients/mac
	cp scripts_installer/mac/net.siveo.pulse_xmpp_agent.plist var/lib/pulse2/clients/mac
	cp scripts_installer/mac/rbash var/lib/pulse2/clients/mac
	cp scripts_installer/mac/runpulseagent var/lib/pulse2/clients/mac
	mkdir -p var/lib/pulse2/clients/win/libs
	cp -fr scripts_installer/win/nsis_libs/* var/lib/pulse2/clients/win/libs
	mkdir -p var/lib/pulse2/clients/win/artwork
	cp -fr scripts_installer/win/artwork/* var/lib/pulse2/clients/win/artwork
	chmod +x var/lib/pulse2/clients/*.sh
	chmod +x var/lib/pulse2/clients/generate-agent-package
	chmod +x var/lib/pulse2/clients/generate-agent-deps-package
	#chmod +x var/lib/pulse2/clients/win/generate-kiosk-package
	GIT_SSL_NO_VERIFY=true git clone https://github.com/pulse-project/pulse-filetree-generator.git
	mv pulse-filetree-generator pulse-filetree-generator-${FILETREE_VERSION}
	g++ -O3 -std=c++11 pulse-filetree-generator-${FILETREE_VERSION}/linux_macos/pulse-filetree-generator.cpp -o pulse-filetree-generator
	mkdir -p var/lib/pulse2/clients/lin/deb/pulse-agent-linux/usr/sbin
	cp pulse-filetree-generator var/lib/pulse2/clients/lin/deb/pulse-agent-linux/usr/sbin
	chmod +x var/lib/pulse2/clients/lin/deb/pulse-agent-linux/usr/sbin/pulse-filetree-generator
	mkdir -p var/lib/pulse2/clients/lin/rpm/package/SOURCES
	cp pulse-filetree-generator var/lib/pulse2/clients/lin/rpm/package/SOURCES
	chmod +x var/lib/pulse2/clients/lin/rpm/package/SOURCES/pulse-filetree-generator
	mv pulse-filetree-generator var/lib/pulse2/clients/mac
	chmod +x var/lib/pulse2/clients/mac/pulse-filetree-generator
	cp scripts_installer/win/create-profile.ps1 var/lib/pulse2/clients/win/
	cp scripts_installer/win/pulse-service.py var/lib/pulse2/clients/win/
	rm -frv $(DESTDIR)/tmp

clean:
	dh_testdir
	dh_testroot
	-$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_fixperms
	dh_installchangelogs
	dh_installdocs
	dh_installinit
	# Some postinstall tools are known to fails after being stripped
	#dh_strip
	dh_link
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
