#!/usr/bin/make -f

DESTDIR = $(CURDIR)/debian/pulse-agent-installer

VERSION_XMPP_AGENT=1.9.6
VERSION_AGENT_PLUGINS=1.8
VERSION_KIOSK_INTERFACE=0.2

build:
	mkdir -p $(DESTDIR)/tmp

	GIT_SSL_NO_VERIFY=true git clone https://github.com/pulse-project/pulse-xmpp-agent.git -b master
	mv pulse-xmpp-agent pulse-xmpp-agent-${VERSION_XMPP_AGENT}
	tar czvf pulse-xmpp-agent-${VERSION_XMPP_AGENT}.tar.gz pulse-xmpp-agent-${VERSION_XMPP_AGENT}
	rm -fr pulse-xmpp-agent/
	mkdir -p var/lib/pulse2/clients
	mv  $(CURDIR)/pulse-xmpp-agent-${VERSION_XMPP_AGENT}.tar.gz var/lib/pulse2/clients
	GIT_SSL_NO_VERIFY=true git clone https://github.com/pulse-project/pulse-agent-plugins.git -b master
	mv pulse-agent-plugins pulse-agent-plugins-${VERSION_AGENT_PLUGINS}
	tar czvf pulse-agent-plugins-${VERSION_AGENT_PLUGINS}.tar.gz pulse-agent-plugins-${VERSION_AGENT_PLUGINS}
	mv pulse-agent-plugins-${VERSION_AGENT_PLUGINS}.tar.gz var/lib/pulse2/clients
	#GIT_SSL_NO_VERIFY=true git clone https://github.com/pulse-project/kiosk-interface.git
	#mv kiosk-interface kiosk-interface-${VERSION_KIOSK_INTERFACE}
	#tar czvf kiosk-interface-${VERSION_KIOSK_INTERFACE}.tar.gz kiosk-interface-${VERSION_KIOSK_INTERFACE}
	#mv kiosk-interface-${VERSION_KIOSK_INTERFACE}.tar.gz var/lib/pulse2/clients
	tar xzvf var/lib/pulse2/clients/pulse-xmpp-agent-${VERSION_XMPP_AGENT}.tar.gz -C $(DESTDIR)/tmp
	mkdir -p etc/mmc/plugins/
	mkdir -p var/lib/pulse2/clients/config/
	cp $(DESTDIR)/tmp/pulse-xmpp-agent-${VERSION_XMPP_AGENT}/pulse_xmpp_agent/config/agentconf.ini.in var/lib/pulse2/clients/config/
	cp $(DESTDIR)/tmp/pulse-xmpp-agent-${VERSION_XMPP_AGENT}/pulse_xmpp_agent/config/manage_scheduler.ini var/lib/pulse2/clients/config/
	cp scripts_installer/generate-pulse-agent.sh var/lib/pulse2/clients
	cp scripts_installer/generate-agent-package var/lib/pulse2/clients
	mkdir -p var/lib/pulse2/clients/win32
	cp scripts_installer/generate-pulse-agent-win.sh var/lib/pulse2/clients/win32
	cp scripts_installer/agent-installer.nsi.in var/lib/pulse2/clients/win32
	cp scripts_installer/pulse-agent-task.xml var/lib/pulse2/clients/win32
	#cp scripts_installer/generate-kiosk-package var/lib/pulse2/clients/win32
	mkdir -p var/lib/pulse2/clients/linux
	cp scripts_installer/*linux* var/lib/pulse2/clients/linux
	mkdir -p var/lib/pulse2/clients/mac
	cp scripts_installer/generate-pulse-agent-mac.sh var/lib/pulse2/clients/mac
	cp scripts_installer/Info.plist.in var/lib/pulse2/clients/mac
	cp scripts_installer/postflight.in var/lib/pulse2/clients/mac
	cp scripts_installer/net.siveo.pulse_xmpp_agent.plist var/lib/pulse2/clients/mac
	cp scripts_installer/rbash var/lib/pulse2/clients/mac
	cp scripts_installer/runpulseagent var/lib/pulse2/clients/mac
	mkdir -p var/lib/pulse2/clients/win32/libs
	cp -fr scripts_installer/nsis_libs/* var/lib/pulse2/clients/win32/libs
	chmod +x var/lib/pulse2/clients/*.sh
	chmod +x var/lib/pulse2/clients/generate-agent-package
	#chmod +x var/lib/pulse2/clients/win32/generate-kiosk-package
	rm -frv $(DESTDIR)/tmp
clean:
	dh_testdir
	dh_testroot
	-$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_fixperms
	dh_installchangelogs
	dh_installdocs
	dh_installinit
	# Some postinstall tools are known to fails after being stripped
	#dh_strip
	dh_link
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
